.input{
  padding: 5px;
  margin: 20px 0px;
  display: flex;
  width: 100%;
  

  input {
    outline: none;
  }

  input[type="text"] {
    width: 95%;
    padding: 10px;
    border: none;
  }

  .span__input {
    cursor: pointer;
    padding-left: 10px;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    transition: .5s ease-in-out;
  }

  button:hover {
    color: orange;
  }

  .delete__btn {
    text-align: center;
    transition: .5s ease-in-out;
    margin-left: 20px;
  }

  .delete__btn:hover {
    cursor: pointer;
    color: orange;
    opacity: 0.9;
  }

  .button__icon {
    margin-left: 10px;
  }
}

.new__input {

  input {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  button {
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    transition: .5s ease-in-out;
  }

  button:hover {
    color: orange;
    cursor: pointer;
  }

}
