.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  padding-left: 100px;
  
  .content__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 300px;
    width: 250px;
    border: 2px solid white;
    padding: 30px;
    
    textarea {
      background-color: #333;
      border: none;
      color: white;
      outline: none;
      width: 230px;
      height: 180px;
      letter-spacing: 4px;
      resize: none;
    }

    .add__icon {
      color: white;
      font-size: 1.3em;
      align-self: flex-end;
      transition: .5s ease-in-out;
    }

    .add__icon:hover {
      cursor: pointer;
      color: orange;
    }

    .todos__list {
      padding-left: 10px;
    }
  }
}